<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    {% include head.html %}
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css">
    <style>
      body {
        font-family: "Computer Modern Sans", sans-serif;
      }
  </style>
  </head>
  <body>
    <div class="container-wrapper">
      <header class="container-header">
        {% include header.html %}
      </header>
      <main class="container-main">
        {{ content }}
      </main>
      <footer class="container-footer">
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html>
